@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --black: #101828;
  --red: #8E2424;
  --red-opacity2: rgba(142, 36, 36, 0.8);
  --red-opacity3: rgba(195, 25, 25, 0.03);
  --red-opacity5: rgba(142, 36, 36, 0.05);
  --gray: #3A404E;
  --gray200: #EAECF0;
  --gray400: #98A2B3;
  --gray500: #667085;
  --gray900: #101828;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;

}

html,
body {
  margin: 0;
  background-color: var(--white);
}

ul,
li {
  list-style: none;
}

body,
button,
input,
select,
textarea {
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  padding: 0px;
  position: static;
  justify-content: center;
  height: 5rem;
  left: 0px;
  top: 0px;
}

nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  height: 5rem;
}


.logo {
  display: flex;
  align-items: center;

}

.logo img {
  margin-right: 0.5rem;
  width: 1.68rem;
  height: 1.68rem;
}

.logo p {
  font: 500 1.125rem 'Inter';
  color: var(--gray);
  line-height: 1.5rem;
}

.menu ul,
li {
  display: flex;
  margin-right: 2rem;
}

.menu ul li a {
  text-decoration: none;
  color: var(--gray500);
  font: 500 1rem 'Inter';
  line-height: 1.5rem;
  width: 5rem;
}

.login {

  display: flex;
  align-items: center;
}

.login a {
  text-decoration: none;
  font: 500 1.125rem 'Inter';
  color: var(--gray);
  line-height: 1.5rem;
  margin: 0 0.5rem;
}

.login button {
  padding: 0.625rem 1.125rem;
  background: var(--red);
  border: 1px solid var(--red);
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 0.5rem;
  font: 500 1.125rem 'Inter';
  color: var(--white);
  line-height: 1.5rem;
  margin: 0 0.5rem;
}

.login button:hover {
  padding: 0.625rem 1.125rem;
  background: var(--red-opacity2);
  border: 1px solid var(--red);
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 0.5rem;
  font: 500 1.125rem 'Inter';
  color: var(--white);
  line-height: 1.5rem;
  margin: 0 0.5rem;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0px;
  margin: auto;
  position: static;

  height: 25.44rem;
  top: 5rem;
  text-align: center;
}

.sobre span {
  color: var(--red);
  font: 600 1rem 'Inter';
  line-height: 1.5rem;
  height: 25.44rem;
}


.sobre h1 {
  color: var(--gray900);
  font: 600 3rem 'Inter';
  line-height: 3.75rem;
  margin: 1.5rem 0 2.25rem 0;
}


.sobre p {
  color: var(--gray500);
  font: 400 1.25rem 'Inter';
  line-height: 1.875rem;
  width: 70vw;
  margin: 0;
}

.metricas-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 18rem;
  padding: 0px 0px 6rem;
}

.metricas-container .card-metricas {
  width: 17.5rem;
  height: 11.375rem;
  padding: 0 1rem;
}

.metricas-container .card-metricas h2 {
  color: var(--red);
  font: 600 3.75rem 'Inter';
  line-height: 4.5rem;
}

.metricas-container .card-metricas h3 {
  color: var(--gray900);
  font: 500 1.125rem 'Inter';
  line-height: 1.75rem;
}

.metricas-container .card-metricas p {
  color: var(--gray500);
  font: 400 1rem 'Inter';
  line-height: 1.5rem;
}

.vagas {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 6rem 0px;
  margin-top: 4rem;
}

.vagas .vagas-container p {
  font: 400 1.25rem 'Inter';
  line-height: 0.93rem;
  color: var(--gray500);
}

.vagas .vagas-container #vagas-abertas {
  background-color: var(--red-opacity3);
  font: 500 0.875rem 'Inter';
  line-height: 1.25rem;
  color: var(--red);
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  width: 7.81rem;
  text-align: center;
  margin: auto;
}

.vagas .vagas-container h2 {
  font: 600 2.25rem 'Inter';
  line-height: 1.375rem;
  color: var(--gray900);
}

.vagas .vagas-container img {
  margin-top: 4rem;
  width: 80%
}

.vagas .vagas-container .container-vagas-abertas h3 {
  font: 500 1.25rem 'Inter';
  line-height: 1.875rem;
  color: var(--gray900);
  text-align: left;
  margin: 4rem 20% 2rem 20%;
}

.vagas .vagas-container .container-vagas-abertas .vaga {
  border: 1px solid var(--gray200);
  box-sizing: border-box;
  border-radius: 1rem;
  width: 48rem;
  height: 8.5rem;
  text-align: left;
  margin: 1.5rem 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vagas .vagas-container .container-vagas-abertas .vaga .titulo-vaga {
  font: 500 1.125rem 'Inter';
  line-height: 1.875rem;
  color: var(--gray900);
  margin: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.vagas .vagas-container .container-vagas-abertas .vaga .informacoes {
  font: 500 1.125rem 'Inter';
  line-height: 1.875rem;
  color: var(--gray500);
  margin: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.vagas .vagas-container .container-vagas-abertas .vaga .informacoes span {
  margin-left: 1.5rem;
}

.depoimentos {
  margin: 0 auto;
  height: 31.25rem;
}

.depoimentos .depoimento-container {
  width: 76rem;
  height: 25.25rem;
  background: var(--red-opacity5);
  margin: 2rem auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.depoimentos .depoimento-container span {
  font: 600 0.875rem 'Inter';
  line-height: 1.25rem;
  color: var(--red);
  margin: 0;
}

.depoimentos .depoimento-container h2 {
  font: 500 2.25rem 'Inter';
  line-height: 2.75rem;
  color: var(--gray900);
  margin: 1rem 0;
  text-align: center;
}

.depoimentos .depoimento-container img {
  margin: 1rem 0;
}

.depoimentos .depoimento-container .nome {
  font: 500 1rem 'Inter';
  line-height: 1.5rem;
  color: var(--gray900);
  margin: 0.25rem 0;
}

.depoimentos .depoimento-container p {
  font: 500 0.875rem 'Inter';
  line-height: 1.25rem;
  color: var(--gray500);
  margin: 0.25rem 0;
}