@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --black: #101828;
  --red: #8E2424;
  --red-opacity2: rgba(142, 36, 36, 0.8);
  --red-opacity3: rgba(195, 25, 25, 0.03);
  --red-opacity5: rgba(142, 36, 36, 0.05);
  --gray: #3A404E;
  --gray200: #EAECF0;
  --gray400: #98A2B3;
  --gray500: #667085;
  --gray900: #101828;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

ul,
li {
  list-style: none;
}

body,
button,
input,
select,
textarea {
  font-family: 'Inter', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu.active {
  right: 0;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.menu .links ul {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
}

.menu .links ul li a {
  text-decoration: none;
  color: var(--gray500);
  font: 500 1rem 'Inter';
  flex-wrap: wrap;
}

.toggle-menu {
  display: none;
  visibility: hidden;
}

.menu .login {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu .login a {
  text-decoration: none;
  font: 500 1.125rem 'Inter';
  color: var(--gray);
}

button {
  padding: 0.625rem 1.125rem;
  background: var(--red);
  border: 1px solid var(--red);
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 0.5rem;
  font: 500 1.125rem 'Inter';
  color: var(--white);
}

button:hover {
  background: var(--red-opacity2);
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 4rem;
  text-align: center;
}

.sobre span {
  color: var(--red);
  font: 600 1rem 'Inter';
  line-height: 1.5rem;
}

.sobre h1 {
  color: var(--gray900);
  font: 600 3rem 'Inter';
  margin: 1.5rem 0 2.25rem 0;
}

.sobre p {
  color: var(--gray500);
  font: 400 1.25rem 'Inter';
  max-width: 70vw;
  margin: 0;
}

.metricas-container {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 70vw;
  flex-wrap: wrap;
  gap: 1rem;
}

.metricas-container .card-metricas {
  width: 17.5rem;
}

.metricas-container .card-metricas h2 {
  color: var(--red);
  font: 600 3.75rem 'Inter';
}

.metricas-container .card-metricas h3 {
  color: var(--gray900);
  font: 500 1.125rem 'Inter';
  line-height: 1.75rem;
}

.metricas-container .card-metricas p {
  color: var(--gray500);
  font: 400 1rem 'Inter';
  line-height: 1.5rem;
}

.vagas {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10rem 0px 4rem;
}

.vagas .vagas-container p {
  font: 400 1.25rem 'Inter';
  color: var(--gray500);
}

.vagas .vagas-container #vagas-abertas {
  background-color: var(--red-opacity3);
  font: 500 0.875rem 'Inter';
  color: var(--red);
  border-radius: 1rem;
  text-align: center;
  margin: auto;
  display: inline-block;
  padding: .5rem;
}

.vagas .vagas-container h2 {
  font: 600 2.25rem 'Inter';
  color: var(--gray900);
}

.vagas .vagas-container img {
  margin-top: 4rem;
  width: 80%
}

.vagas .vagas-container .container-vagas-abertas h3 {
  font: 500 1.25rem 'Inter';
  color: var(--gray900);
  text-align: left;
  margin: 4rem 20% 2rem 20%;
}

.vagas .vagas-container .container-vagas-abertas .vaga {
  border: 1px solid var(--gray200);
  border-radius: 1rem;
  text-align: left;
  margin: 1.5rem 20%;
  display: flex;
  flex-direction: column;
}

.vagas .vagas-container .container-vagas-abertas .vaga .titulo-vaga {
  font: 500 1.125rem 'Inter';
  color: var(--gray900);
  margin: 1.5rem;
}

.vagas .vagas-container .container-vagas-abertas .vaga .informacoes {
  display: flex;
  gap: 1rem;
  font: 500 1.125rem 'Inter';
  color: var(--gray500);
  margin: 1.5rem;
}

.depoimentos {
  margin: 0 auto;
}

.depoimentos .depoimento-container {
  max-width: 70vw;
  background: var(--red-opacity5);
  margin: 2rem auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.depoimentos .depoimento-container span {
  font: 600 0.875rem 'Inter';
  line-height: 1.25rem;
  color: var(--red);
  margin: 0;
}

.depoimentos .depoimento-container h2 {
  font: 500 2.25rem 'Inter';
  color: var(--gray900);
  margin: 1rem 0;
  text-align: center;
}

.depoimentos .depoimento-container .nome {
  font: 500 1rem 'Inter';
  color: var(--gray900);
  margin: 0.5rem 0;
}

.depoimentos .depoimento-container p {
  font: 500 0.875rem 'Inter';
  color: var(--gray500);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;

}

footer h2 {
  font: 600 2.25rem 'Inter';
  line-height: 2.75rem;
  color: var(--gray900);
  margin: 0.625rem 0;
  text-align: center;
}

footer p {
  font: 400 1.25rem 'Inter';
  line-height: 1.875rem;
  color: var(--gray500);
  margin: 1rem 0;
}

footer form {
  display: flex;
  align-items: center;
  gap: .5rem;
}

footer input {
  padding: 12px 14px 12px 16px;
  width: 22.5rem;
  border: 1px solid #D0D5DD;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 0.5rem;
  margin: 1rem 0;
}

footer span {
  font: 400 1rem 'Inter';
  line-height: 1.5rem;
  color: var(--gray400);
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {

  .toggle-menu {
    display: initial;
    visibility: visible;
  }

  .toggle-menu img {
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -1000px;
    height: 100vh;
    background: #F9FAFB;
    width: 15rem;
    padding: 2rem;
    transition: all 2s;
  }

  .menu .links,
  .menu .login {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .menu .links ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  .metricas-container {
    max-width: 50rem;
    text-align: center;
  }

  .depoimentos .depoimento-container h2 {
    font: 500 1.5rem 'Inter';
  }

  footer h2 {
    font: 500 1.5rem 'Inter';
  }

  footer p {
    font: 400 1rem 'Inter';
    text-align: center;
  }

  footer input {
    width: 15.5rem;
  }
}

@media screen and (max-width: 425px) {

  .depoimentos .depoimento-container span {
    text-align: center;
  }

  .depoimentos .depoimento-container h2 {
    font: 500 1rem 'Inter';
  }

  footer form {
    display: flex;
    flex-direction: column;
  }

  footer span {
    text-align: center;
  }
}